#unipress-devices {
	width: 100%;
	display: block;
	margin: 20px 0;
}
#unipress-device-list {
	display: block;
}
.unipress-device-row {
	display: block;
}
.device-row-column-1 {
	float: left;
	cursor: pointer;
	color: #800000;
	font-weight: bold;
	margin-right: 20px;
	font-size: 1.3em;
}
#unipress-device-options {
	display: block;
	clear: both;
	margin: 10px 0 0;
}